body{
	background-color: #f2f2f2;
}

.header-logo{
	background-color:#ffffff;
}

.header-logo>img{
	height: 40px;
	width: 200px;
}

.ch-content{
	width: 55%;
	padding-top:2%;
}

.ch-result-counter{
	font-weight:bold;
	
}

.ch-car-details{
	border-color:#f9f7f7 !important;
	border-style:groove;
	background-color:#ffffff;
	margin-top: 3%;
}

.ch-car-details>.row{
	padding-top:2%;
	padding-bottom:2%;
	padding-right:2%;
}

.ch-map-marker{
	height:20px;
	width:20px;
}

.ch-footer{
	background-color:#1a1a1a;
	height: 75px;
}

.ch-footer-logo{
	height:50px;
	padding-top: 1%;
	margin-left:25%;
}

footer{
	margin-top:2%;
	color:#ffffff;
}